In [1]:
import pandas as pd

In [2]:
input_json= [{"Gender": "Male", "HeightCm": 171, "WeightKg": 96 },
{ "Gender": "Male", "HeightCm": 161, "WeightKg": 85 },
{ "Gender": "Male", "HeightCm": 180, "WeightKg": 77 },
{ "Gender": "Female", "HeightCm": 166, "WeightKg": 62},
{"Gender": "Female", "HeightCm": 150, "WeightKg": 70},
{"Gender": "Female", "HeightCm": 167, "WeightKg": 82}]

In [4]:
input_df=pd.DataFrame(input_json)

In [9]:
input_df['BMI']=(input_df.WeightKg)/((input_df.HeightCm/100)**2)

In [10]:
input_df

   Gender  HeightCm  WeightKg        BMI
0    Male       171        96  32.830615
1    Male       161        85  32.791945
2    Male       180        77  23.765432
3  Female       166        62  22.499637
4  Female       150        70  31.111111
5  Female       167        82  29.402273

In [11]:
input_df['BMI Category']=""
input_df['Health Risk']=""

In [16]:
input_df.loc[input_df.BMI>39.9,['BMI Category','Health Risk']]=['Very severely obese','Very high risk']
input_df.loc[(input_df.BMI>34.9) & (input_df.BMI<=39.9),['BMI Category','Health Risk']]=['Severely obese','High Risk']
input_df.loc[(input_df.BMI>29.9) & (input_df.BMI<=34.9),['BMI Category','Health Risk']]=['Moderately obese','Medium Risk']
input_df.loc[(input_df.BMI>24.9) & (input_df.BMI<=29.9),['BMI Category','Health Risk']]=['Overweight','Enhanced Risk']
input_df.loc[(input_df.BMI>18.4) & (input_df.BMI<=24.9),['BMI Category','Health Risk']]=['Normal weight','Low Risk']
input_df.loc[input_df.BMI<=18.4,['BMI Category','Health Risk']]=['Underweight','Malnutrition Risk']

In [23]:
print("# of overweight people :",input_df.loc[input_df.BMI>=25,"BMI"].count())

# of overweight people : 4

In [17]:
input_df

   Gender  HeightCm  WeightKg        BMI      BMI Category    Health Risk
0    Male       171        96  32.830615  Moderately obese    Medium Risk
1    Male       161        85  32.791945  Moderately obese    Medium Risk
2    Male       180        77  23.765432     Normal weight       Low Risk
3  Female       166        62  22.499637     Normal weight       Low Risk
4  Female       150        70  31.111111  Moderately obese    Medium Risk
5  Female       167        82  29.402273        Overweight  Enhanced Risk